#:schema node_modules/wrangler/config-schema.json

name = "marry-fun"
main = ".open-next/worker.js"
workers_dev = true
preview_urls = true

compatibility_date = "2025-08-21"
compatibility_flags = [
 "nodejs_compat",
 "nodejs_compat_populate_process_env",
 "global_fetch_strictly_public",
]

build.command = "bun run build:cf"


[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "marry-fun"
database_id = "9e9f0f61-390c-4b14-850e-dbb496087d01"
migrations_dir = "migrations"

[[services]]
binding = "WORKER_SELF_REFERENCE"
service = "marry-fun"

# [[routes]]
# pattern = "marry.fun"
# custom_domain = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
